body{
padding: 0;
margin: 0;
 
    background-color: rgb(255,255,255);
}

.Top{
    padding-left: 40%;
}
.Top h1{
    font-size: 60px;
opacity: 0.4;
}
.Top h4{
    position: relative;
    right: 4px;
    bottom: 60px;
    opacity: 0.7;
    }
.button{
padding-left: 20%;
display: flex;
flex-direction: row;
gap: 10%;
}
.right{
    display: flex;
    flex-direction: row;
}
    .imagee{
        width: 180px;
        height: 300px;
        z-index: 2;
    }

    .black{
background-color: darkolivegreen;
width: 80px;
height: 340px;
z-index: 1;
   position: relative;
   left: 20px;
   bottom: 20px;
    }
     
    .PP{
        width: 400px;
    }

    .PP33{
        width: 410px;
        opacity: 0.6;

    }